<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% themes.forEach(theme => { %>
                <li>
                    <a href="/<%=theme.id%>/products">
                        <div>
                            <h2> <%= theme.name %></h2> 
                        </div> 
                    </a>
                    <a href="/<%=theme.id%>/update">
                        <div>
                            Edit
                        </div>
                    </a>
                    <form action="/<%=theme.id%>/delete" method="post">
                        <button type="submit" onClick="return confirm('Are you sure you want to delete this Theme?');">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <a href="/addTheme">
            <div>
                <h3>Add a Theme</h3>
            </div>
        </a>
    </body>
</html>