<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/themes/themeSelectionStyles.css">
    </head>
    <body>
        <%- include('./partials/header') %>
        <main>
            <h1 class="main title"><%= title %></h1>
            <ul class="themes-list">
                <% themes.forEach(theme => { %>
                    <li class="theme list-item">
                        <a href="/<%=theme.id%>/products" class="theme item">
                                <h2 class="theme name"> <%= theme.name %></h2> 
                        </a>
                        <div class="theme options">
                            <a href="/<%=theme.id%>/update" class="theme edit-lnk">
                                    Edit
                            </a>
                            <form action="/<%=theme.id%>/delete" method="post" class="theme delete-form">
                                <button type="submit" onClick="return confirm('Are you sure you want to delete this Theme?');">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <a href="/addTheme" class="theme add">
                    <h3 class="text">Add a Theme</h3>
            </a>
        </main>
    </body>
</html>