<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% categories.forEach(category => { %>
                <li>
                    <a href="/<%=category.id%>/products">
                        <div>
                            <h2> <%= category.name %></h2> 
                        </div> 
                    </a>
                    <a href="/<%=category.id%>/update">
                        <div>
                            Edit
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
        <a href="/addCategory">
            <div>
                <h3>Add a Category</h3>
            </div>
        </a>
    </body>
</html>