<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <ul>
            <% sets.forEach(set => { %>
                <li>
                    <a href="sets/<%=set.id%>">
                        <%=set.name%>
                    </a>
                </li>
            <% }) %>
        </ul>
        <a href="sets/add">
            <div>
                <h2>Add Set</h2>
            </div>
        </a>
        <a href="/<%=themeId%>/products">Back</a>
    </body>
</html>