<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/themes/themeProductStyles.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h1 class="title"><%=title%></h1>
            <a href="/<%=themeId%>/sets" class="product-opt">
                    <h2 class="text red">Sets</h2>
            </a>
            <a href="/<%=themeId%>/minifigs" class="product-opt">
                    <h2 class="text green">Minifigures</h2>
            </a>
            <a href="/" class="back-lnk">Back</a>
        </main>
    </body>
</html>