<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/themes/themeFormStyles.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h1 class="title"><%=title%></h1>
            <%- include('../partials/errors.ejs') %>
            <form action="update" method="post" class="form">
                <label for="name" class="form label">Minifig Name:</label>
                <input type="text" name="name" id="name" minlength="1" maxlength="25" value="<%=minifig.name%>" required class="form input">
                <button type="submit" class="form bttn">Update</button>
            </form>
            <a href="/<%=minifig.themeid%>/minifigs/<%=minifig.id%>" class="back-lnk">Back</a>
        </main>
    </body>
</html>