<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/minifigs/minifigSelectionStyles.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h1 class="title"><%=title%></h1>
            <ul class="minifigure list">
                <% minifigs.forEach(minifig => { %>
                    <li class="minifigure list-item">
                        <a href="minifigs/<%=minifig.id%>" class="minifigure item">
                                <h3 class="minifigure name"><%=minifig.name%></h3>
                        </a>
                        <form action="minifigs/<%=minifig.id%>/delete" method="post" class="delete-form">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this Minifigure?')">Delete</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
            <a href="minifigs/add" class="add-lnk">
                    <h2 class="text">Add Minifig</h2>
            </a>
            <a href="/<%=themeId%>/products" class="back-lnk">Back</a>
    </main>
    </body>
</html>