<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <ul>
            <% minifigs.forEach(minifig => { %>
                <li>
                    <a href="minifigs/<%=minifig.id%>">
                        <div>
                            <h3><%=minifig.name%></h3>
                        </div>
                    </a>
                    <form action="minifigs/<%=minifig.id%>/delete" method="post">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this Minifigure?')">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <a href="minifigs/add">
            <div>
                <h2>Add Minifig</h2>
            </div>
        </a>
        <a href="/<%=themeId%>/products">Back</a>
    </body>
</html>